@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

#schedule {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #007bff;
    margin-top: 30px;
}

p {
    margin-bottom: 5px;
}

#checkbox{
    margin-right: 10px;
}

#days{
    font-size: 60px;
    color: #0d00ff;
}

h3{
    color: #1fd841;
}

.card-body{
    background-color: #aef8ec;
}

/* todoList css */
.nav-link{
    color: #000000 !important;
}

.nav-link:hover{
    color: #ddab2d !important;
    border-bottom: 1px solid #ddab2d;
}

.nav-link.active{
    color: #f49417 !important;
    
}

.displayDate{
    background-color: #5b2cde49;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.taskStatus{
    background-color: #de822c3a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 12px 0;
}

.btn.addTask{
    background-color: #89774970;
}

.btn.addTask:hover{
    background-color: #897749;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.task-list{
    color: #31260af0;
}

/* !task List one task styles */
.task-container{
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 12px 0;
}

.task-container-topics{
    color: #000000a3;
}

.btn.edit-task{
    background-color: #89774970;
}

.btn.edit-task:hover{
    background-color: #897749;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.btn.delete-task{
    background-color: #ff000070;
}

.btn.delete-task:hover{
    background-color: #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

#badge{
    /* background-color: #ff0000; */
    color: rgba(255, 255, 255, 0.749);
    padding: 6px 12px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.072);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#badge-status{
    color: rgba(255, 255, 255, 0.749);
    padding: 6px 12px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.072);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.sortedDate{
    background-color: #5b2cde49 !important;
    color: #0f0e0ecb !important;
}

.modal-body-btn{
    border: none;
    background-color: none;
}

.btn.change-status{
    border: 1px solid #000000;
}

/* !edit Task!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.btn.editTask{
    background-color: #496F8A;
    color: white;
}

.btn.editTask:hover{
    background-color: #498A82;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}
